#root {
  background-color: black;
  height: 100vh;
}

.grid {
  padding: 20px;
  margin: 0 auto;
  width: 50vw;
  max-width: 60vh;
  height: 50vw;
  max-height: 50vh;
  font-size: 1rem;
}
.row {
  display: flex;
}
.box {
  margin: 0;
  color: white;
  font-weight: bold;
  flex: 1 0 auto;
  position: relative;
}
.box:after {
  content: "";
  float: left;
  display: block;
  padding-top: 100%;
}
.box .inner {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.controlRow {
  margin-top: 10vh;
}

.navigation {
  text-align: center;
}

.nav-link {
  font-size: 3rem;
  font-family: "Lato", "Roboto", "Source Sans Pro", sans-serif;
  color: white;
  font-weight: bold;
  text-decoration: none;
}

.nav-link:hover {
  color: yellow;
}
